.App {
  text-align: center;
  background-color: #DBBEBB;
  margin: 0;
}

.App-header {
  text-align: center;
  font-size: 2em;
  font-family: fantasy; 
  font-style: bold;
  

}


.länk {
  text-align: center;
}
.bilder {
text-align: center;
width: 200 px;
height: 250 px;
}

.rubriker {
text-align: center;
font-size: 50px;
font-family: fantasy; 
font-weight: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
