.App {
  text-align: center;
  background-color: #DBBEBB;
  padding: 1px;
}

.App-header {
  text-align: center;
  font-size: 2em;
  font-family: fantasy; 
 
  

}


.länk {
  text-align: center;
}
.bilder {
text-align: center;
/* width: 200px;
height: 250px; */
}

.rubriker {
text-align: center;
font-size: 50px;
font-family: fantasy; 
font-weight: bold;
}



