.App {
  text-align: center;
}

.App-header {
  text-align: center;
  font-family: 'Tangerine', serif;
  border: solid black 1px;
  font-size: 2em;
}


.färg {
  color:  #d0f0c0;
}

.länk {
  text-align: center;
}
.bilder {
text-align: center;
width: 200 px;
height: 250 px;
}

.rubriker {
text-align: center;
font-size: 50px;
font-family: 'Tangerine', serif;
font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
